<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>League Of Retard</title>
  <link href="/./league-of-retard/src/app/pages/recherche/recherche.component.css" rel="stylesheet"/>
</head>
<header>
  <app-main-nav></app-main-nav>
</header>
<body>
<div class="container">
  <div class="col-12">
    <div class="img">
      <img class="image" src="../../../assets/img/League_of_Retard.png" alt="logo">
    </div>
  </div>
  <div class="col-12">
    <div class="title text-center">
      <h1 class="title-text">Trouve ton mates</h1>
    </div>
    <div class="container">
      <div class="row">

        <div class="col-6">
              <input list="role">
              <datalist id="role">
                <option value="DUO_SUPPORT"></option>
                <option value="DUO_CARRY"></option>
                <option value="SOLO"></option>
                <option value="NONE"></option>
                <option value="JUNGLE"></option>
              </datalist>
            </div>
        <div class="col-6">
          <input list="lane">
          <datalist id="lane">
            <option value="BOTTOM"></option>
            <option value="MID"></option>
            <option value="TOP"></option>
            <option value="JUNGLE"></option>
            <option value="NONE"></option>
          </datalist>
        </div>
        <div class="col-12">
          <div data-role="content" id="contentdiv">
            <div class="btnContainer">
          <button class="button">
            <a class="lien" routerLink="/inscription" href="#"><p class="thetext">Recherche</p></a>
          </button>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<img class="image" id="teemolatimpe" src="../../../assets/img/teemo.png" alt="logo">
</body>
<footer>
  <p class="text-center">Copyright2020 - ADCDIFF@CestReel.com</p>
</footer>
