<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>League Of Retard</title>
  <link href="/./league-of-retard/src/app/home-page/home-page.component.css" rel="stylesheet"/>
</head>

<div class="container-fluid p-0">
  <div class="content">
    <div class="img">
      <img class="image" src="assets/img/League_of_Retard.png" alt="logo">
    </div>
    <div class="title">
      <h1 class="title-text">League Of Retard</h1>
    </div>
    <div data-role="content" id="contentdiv">
      <div class="btnContainer topBtn">
        <button class="button">
          <a class="lien" href="https://www.google.fr"><p class="thetext">Inscription</p></a>
        </button>
      </div>
      <div class="btnContainer btmBtn">
        <button class="button">
          <a class="align-items-center lien" href=""><p class="thetext">Connexion</p></a>
        </button>
      </div>
    </div>
  </div>
</div>

