<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>League Of Retard</title>
  <link href="/./league-of-retard/src/app/pages/not-found404/not-found404.component.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <h1><a href="#" routerLink="">Retour</a></h1>
      </div>
        <h1 id="error" class="title-text">404</h1>
    </div>
    <div class="col-12">
      <div class="title">
        <h1 class="title-text">Non non mon grand Garçon , demi-tour !</h1>
      </div>
      <img class="image" id="aldouille" src="../../../assets/img/aldouille.png" alt="logo">
    </div>
  </div>
</div>
</body>
<footer>
  <p class="text-center">Copyright2020 - ADCDIFF@CestReel.com</p>
</footer>
