<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>League Of Retard</title>
  <link href="/./league-of-retard/src/app/pages/connexion/connexion.component.css" rel="stylesheet"/>
</head>

<div class="container-fluid p-0">
  <div class="content">
    <div>
      <h1><a href="#" routerLink="">Retour</a></h1>
    </div>
    <div class="img">
      <img class="image" src="assets/img/League_of_Retard.png" alt="logo">
    </div>
    <div class="title">
      <h1 class="title-text">Connexion</h1>
    </div>
    <form  (ngSubmit)="onSubmit()">
    <div data-role="content" id="contentdiv">
      <div class="btnContainer topBtn">
        <h2>Pseudo</h2>
        <input type="text" class="textconnectl" formControlName="username">
      </div>
      <div class="btnContainer topBtn">
        <h2>Mot de passe</h2>
        <input type="password" class="textconnectl" formControlName="password">
      </div>
      <div class="btnContainer btmBtn">
        <button class="button">
          <a class="align-items-center lien" href="#"><p class="thetext">Connexion</p></a>
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
