.title {
  color: white;
  padding-top: 30px;
}

#contentdiv {
  padding-top: 20px;
}

.title-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.img {
  padding-top: 30px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content {
  height: 100vh;
  background: linear-gradient(326deg, #274389 28.65%, #3B8EB1 50%);
}

.btnContainer {
  margin: 0 auto;
  text-align: center;
}

.topBtn {
  padding-bottom: 20px;
}

.button {
  background: #274389;
  border: 2px solid #C8B23E;
  box-sizing: border-box;
  border-radius: 50px;
  width: 100px;
  height: 40px;
  padding-top: 7px;
  margin-top: 10px;
}

.thetext {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

.lien {
  text-decoration: none;
}

h1 a {
  font-size: 15px;
  padding-top: 20px;
  padding-left: 20px;
  color: #ffffff;
}

h1 a:hover{
  font-size: 15px;
  padding-top: 20px;
  padding-left: 20px;
  color: #274389;
}

h2 {
  color: #ffffff;
  font-size: 20px;
}

.textconnectl {
  background: #274389;
  border: 2px solid #C8B23E;
  border-radius: 50px;
  width: 200px;
  height: 30px;
}
