<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <title>League Of Retard</title>
  <link href="/./league-of-retard/src/app/pages/history/history.component.css" rel="stylesheet"/>
</head>
<header>
  <app-main-nav></app-main-nav>
</header>
<body>
<div class="container">
  <div class="row">
    <div class="col-6 pb-4">
      <div class="img">
        <img class="image" style="float: left" src="../../../assets/img/League_of_Retard.png" alt="logo">
        <p id="name">Azerty</p>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="btnContainer btmBtn">
        <button class="button">
          <a class="align-items-center lien" href="#" routerLink="/profil"><p class="thetext">Overview</p></a>
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="btnContainer btmBtn">
        <button class="button">
          <a class="align-items-center lien" href="#" routerLink="/history"><p class="thetext">Historique de partie</p></a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="tableau">
        <p class="pt-5">kda</p>
        score de vision
      </div>
    </div>
  </div>
</div>
<button class="deco" (click)="disconnect()">
  Déconnexion
</button>

</body>
<footer>
  <p class="text-center">Copyright2021 - ADCDIFF@CestReel.com</p>
</footer>
